/* screen - intro-1 */

.intro-1 {
  align-items: center;
  background-color: var(--coconut);
  display: flex;
  flex-direction: column;
  height: 812px;
  width: 375px;
}

.intro-1 .rectngulo-49 {
  background-color: var(--mountain-mist);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 24px;
  width: 375px;
}

.intro-1 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 152px;
  margin-left: 3.0px;
  margin-top: 16px;
  min-width: 314px;
}

.intro-1 .componente-24-2 {
  display: flex;
  gap: 8px;
  height: 40px;
  width: 96px;
}

.intro-1 .continuar {
  align-items: flex-start;
  background-color: var(--fire-bush);
  border-radius: 20px;
  display: flex;
  min-width: 40px;
  padding: 13px 10px;
}

.intro-1 .flecha {
  align-items: flex-start;
  display: flex;
  height: 13px;
  min-width: 19px;
}

.intro-1 .lnea-container {
  height: 17px;
  margin-left: -2px;
  margin-top: -2.12px;
  position: relative;
  width: 23px;
}

.intro-1 .lnea-1 {
  height: 1px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 19px;
}

.intro-1 .lnea-2 {
  height: 3px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 22px;
}

.intro-1 .lnea-3 {
  height: 10px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 12px;
}

.intro-1 .lnea-5 {
  height: 11px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 12px;
}

.intro-1 .textos-principales {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 26px;
  margin-top: -11.1px;
  width: 50px;
}

.intro-1 .textos-principales-1 {
  cursor: pointer;
  height: 22px;
  width: 66px;
}

.intro-1 .ttulos-grandes {
  align-items: flex-end;
  display: flex;
  height: 184px;
  margin-left: 3.0px;
  margin-top: 233px;
  width: 314px;
}

.intro-1 .escanea-tus-residuos {
  color: var(--shark);
  flex: 1;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 186px;
  letter-spacing: 0;
  line-height: 45px;
  margin-right: -2px;
}

.intro-1 .textos-principales-2 {
  height: 96px;
  margin-left: 3.0px;
  margin-top: 15px;
  width: 314px;
}

.intro-1 .usa-la-cmara-de-tu {
  flex: 1;
  height: 98px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -2px;
}

.intro-1 .botn-accin {
  background-color: var(--bianca);
  border-radius: 16px;
  box-shadow: 6px 6px 20px #0000001a;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: space-between;
  margin-left: 1.0px;
  margin-top: 80px;
  width: 312px;
}

.intro-1 .textos-principales-3 {
  height: 22px;
  margin-left: 16px;
  width: 226px;
  margin-top: 23px;
}

.intro-1 .continuar-1 {
  flex: 1;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -2px;
  white-space: nowrap;
}

.intro-1 .continuar-2 {
  align-items: flex-start;
  background-color: var(--fire-bush);
  border-radius: 20px;
  display: flex;
  margin-bottom: 12px;
  margin-right: 16px;
  margin-top: 12px;
  min-width: 40px;
  padding: 13px 10px;
}

.intro-1 .flecha-1 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  min-width: 19px;
}

.intro-1 .lnea-container-1 {
  height: 17px;
  margin-top: -2.12px;
  position: relative;
  width: 23px;
}

.intro-1 .lnea-1-1 {
  height: 1px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 19px;
}

.intro-1 .lnea-2-1 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 22px;
}

.intro-1 .lnea-3-1 {
  height: 10px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 12px;
}

.intro-1 .lnea-5-1 {
  height: 11px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 12px;
}
