<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'sasvar_app/img/trazado-1091@1x.png' %}" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />

    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/bienvenida.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/styleguide.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/globals.css' %}" />
  </head>
  <body style="margin: 0; background: #252527">
    <input type="hidden" id="anPageName" name="page" value="bienvenida" />
    <div class="container-center-horizontal">
      <div class="bienvenida screen">
        <div class="grupo-134 grupo"></div>
        <div class="overlap-group1">
          <div class="grupo-133 grupo"></div>
          <div class="ttulos-grandes"><h1 class="title">Bienvenido a la App Sasvar</h1></div>
          <div class="textos-principales">
            <p class="recibe-asistencia-pa">Recibe información de utilidad y asistencia para separar tus residuos</p>
          </div>
          <!-- <a href="intro-1.html"> -->
          <a href="{% url 'intro_1' %}">
            <div class="botn-accin">
              <div class="textos-principales-1"><div class="continuar montserrat-bold-shark-18px">Continuar</div></div>
              <div class="continuar-1">
                <div class="flecha">
                  <div class="lnea-container">
                    <img class="lnea-1" src="{% static 'sasvar_app/img/l-nea-1-10@1x.png' %}" alt="Lnea 1" />
                    <img class="lnea-2" src="{% static 'sasvar_app/img/l-nea-2-10@1x.png' %}" alt="Lnea 2" />
                    <img class="lnea-3" src="{% static 'sasvar_app/img/l-nea-3-10@1x.png' %}" alt="Lnea 3" />
                    <img class="lnea-5" src="{% static 'sasvar_app/img/l-nea-5-10@1x.png' %}" alt="Lnea 5" />
                  </div>
                </div>
              </div></div
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
