<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'sasvar_app/img/trazado-1091@1x.png' %}" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/escaneo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/styleguide.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/globals.css' %}" />
  </head>
  <body style="margin: 0; background: #fdfdfd">
    <input type="hidden" id="anPageName" name="page" value="escaneo" />
    <div class="container-center-horizontal">
      <div class="escaneo screen">
        <div class="overlap-group2">
        <!-- <video id="video" width="640" height="480" autoplay></video> -->
          <!--<div class="group-7">
            <img class="photo-icon" src="{% static 'sasvar_app/img/photo-icon@1x.png' %}" alt="photo icon" />
          </div>-->
          <div class="rectngulo-44 rectngulo">
          </div>
          <div class="grupo-50 grupo">
           <!-- <div class="grupo-6 grupo">
              <img class="trazado" src="{% static 'sasvar_app/img/trazado-2@1x.png' %}" alt="Trazado 2" />
              <img class="trazado" src="{% static 'sasvar_app/img/trazado-3@1x.png' %}" alt="Trazado 3" />
            </div>
          -->
            <div id="camera" class="camera">
              <video id="video">Video stream not available.</video>
              <!--<button id="startbutton" type="button">Tomar foto</button> -->
            </div>


           <!-- <div class="grupo-7 grupo">
              <img class="trazado-2" src="{% static 'sasvar_app/img/trazado-2-1@1x.png' %}" alt="Trazado 2" />
              <img class="trazado" src="{% static 'sasvar_app/img/trazado-3-1@1x.png' %}" alt="Trazado 3" />
            </div> -->
          </div>
          <!--<div class="rectngulo-49 rectngulo"></div>-->
          <div class="barra-men">
            <a href="{% url 'categorias' %}"> <div class="reading-open-book"></div></a>
            <div class="botn-de-escaneo">
              <div class="overlap-group">
                <div class="cono-escaneo"></div>
              </div>
            </div>
            <a href="{% url 'inicio' %}"> <div class="web-page-home"></div></a>
          </div>
          <a href="{% url 'inicio' %}">
            <div class="componente-24-29">
              <div class="continuar-2">
                <div class="flecha-2">
                  <div class="lnea-container-1">
                    <img class="lnea-1-1" src="{% static 'sasvar_app/img/l-nea-1-10@1x.png' %}" alt="Lnea 1" />
                    <img class="lnea-2-1" src="{% static 'sasvar_app/img/l-nea-2-10@1x.png' %}" alt="Lnea 2" />
                    <img class="lnea-3-1" src="{% static 'sasvar_app/img/l-nea-3-11@1x.png' %}" alt="Lnea 3" />
                    <img class="lnea-5-1" src="{% static 'sasvar_app/img/l-nea-5-11@1x.png' %}" alt="Lnea 5" />
                  </div>
                </div>
              </div>
              <div class="textos-principales-2 textos-principales-3">
                <div class="atrs montserrat-normal-log-cabin-18px-2">Atrás</div>
              </div>
            </div>
          </a>
          <div class="textos-principales">
            <p class="asegrate-de-enfocar montserrat-normal-log-cabin-18px">
              Asegúrate de enfocar bien tu residuo y de que el entorno esté bien iluminado. El proceso puede tardar unos segundos.
            </p>
          </div>
          <div class="botn-accin">
            <div class="textos-principales-2 textos-principales-3">
              <div id="startbutton" class="continuar-1 montserrat-bold-shark-18px">  Tomar foto</div>
            </div>
            <div class="continuar-1 continuar-2">
              <div class="flecha-1 flecha-2">
                <div class="lnea-container-1">
                  <!--<img class="lnea-1-1" src="{% static 'sasvar_app/img/l-nea-1-10@1x.png' %}" alt="Lnea 1" />-->
                  <img class="lnea-2-1" src="{% static 'sasvar_app/img/l-nea-2-10@1x.png' %}" alt="Lnea 2" />
                  <img class="lnea-3-2" src="{% static 'sasvar_app/img/l-nea-3-10@1x.png' %}" alt="Lnea 3" />
                  <img class="lnea-5-2" src="{% static 'sasvar_app/img/l-nea-5-10@1x.png' %}" alt="Lnea 5" />
                </div>
              </div>
            </div>
          </div>
    
    <script>
      (() => {
        // The width and height of the captured photo. We will set the
        // width to the value defined here, but the height will be
        // calculated based on the aspect ratio of the input stream.

        const width = 320; // We will scale the photo width to this
        let height = 0; // This will be computed based on the input stream

        // |streaming| indicates whether or not we're currently streaming
        // video from the camera. Obviously, we start at false.

        let streaming = false;

        // The various HTML elements we need to configure or control. These
        // will be set by the startup() function.

        let video = null;
        // let canvas = null;
        canvas = document.createElement("canvas");

        // let photo = null;
        let startbutton = null;

        function showViewLiveResultButton() {
          if (window.self !== window.top) {
            // Ensure that if our document is in a frame, we get the user
            // to first open it in its own tab or window. Otherwise, it
            // won't be able to request permission for camera access.
            document.querySelector(".contentarea").remove();
            const button = document.createElement("button");
            button.textContent = "View live result of the example code above";
            document.body.append(button);
            button.addEventListener("click", () => window.open(location.href));
            return true;
          }
          return false;
        }

        function startup() {
          if (showViewLiveResultButton()) {
            return;
          }
          video = document.getElementById("video");
          // canvas = document.getElementById("canvas");

          // photo = document.getElementById("photo");
          startbutton = document.getElementById("startbutton");

          navigator.mediaDevices
            .getUserMedia({ video: true, audio: false })
            .then((stream) => {
              video.srcObject = stream;
              video.play();
            })
            .catch((err) => {
              console.error(`An error occurred: ${err}`);
            });

          video.addEventListener(
            "canplay",
            (ev) => {
              if (!streaming) {
                height = video.videoHeight / (video.videoWidth / width);

                // Firefox currently has a bug where the height can't be read from
                // the video, so we will make assumptions if this happens.

                if (isNaN(height)) {
                  height = width / (4 / 3);
                }

                video.setAttribute("width", width);
                video.setAttribute("height", height);
                canvas.setAttribute("width", width);
                canvas.setAttribute("height", height);
                streaming = true;
              }
            },
            false,
          );

          startbutton.addEventListener(
            "click",
            (ev) => {
              takepicture();
              ev.preventDefault();
            },
            false,
          );

          clearphoto();
        }

        // Fill the photo with an indication that none has been
        // captured.

        function clearphoto() {
          const context = canvas.getContext("2d");
          context.fillStyle = "#AAA";
          context.fillRect(0, 0, canvas.width, canvas.height);

          const data = canvas.toDataURL("image/png");

          // photo.setAttribute("src", data);
        }

        // Capture a photo by fetching the current contents of the video
        // and drawing it into a canvas, then converting that to a PNG
        // format data URL. By drawing it on an offscreen canvas and then
        // drawing that to the screen, we can change its size and/or apply
        // other changes before drawing it.

        function takepicture() {
          const context = canvas.getContext("2d");
          if (width && height) {
            canvas.width = width;
            canvas.height = height;
            context.drawImage(video, 0, 0, width, height);

            const data = canvas.toDataURL("image/png");
            
            $.ajax({
              type: "POST",
              url:"{{server_url}}",
              data: JSON.stringify({'frame': data, 'user': 'online-guest'}),
              crossDomain: true,
              dataType: 'json',
              headers: {"x-api-key": "{{apikey}}"},
              success: function(response) {
                console.log(response)
                mat = response.prediction;
                url = "{% url 'resultado' %}" + mat;
                window.location.replace(url)
              },
              error: function(response) {
                alert('Error escaneando foto')

              },
          });
            // photo.setAttribute("src", data);
          } else {
            clearphoto();
          }
        }

        // Set up our event listener to run the startup process
        // once loading is complete.
        window.addEventListener("load", startup, false);
      })();
    </script>
  </body>
</html>
