<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'sasvar_app/img/trazado-1091@1x.png' %}" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />

    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/inicio.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/styleguide.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sasvar_app/css/globals.css' %}" />
  </head>
  <body style="margin: 0; background: #fdfdfd">
    <input type="hidden" id="anPageName" name="page" value="inicio" />
    <div class="container-center-horizontal">
      <div class="inicio screen">
        <div class="componente-13-6">
          <div class="overlap-group1">
            <div class="rectngulo-44 rectngulo"></div>
            <!--
            <div class="ayuda">
              <div class="texto-pequeo"><div class="ayuda-1">Ayuda</div></div>
              <div class="overlap-group-1">
                <div class="text-12">?</div>
                <img class="trazado-1059" src="{% static 'sasvar_app/img/trazado-1059-10@1x.png' %}" alt="Trazado 1059" />
              </div>
            </div>
            -->
            <div class="grupo-125"></div>
            <!--<div class="rectngulo-49 rectngulo"></div>-->
          </div>
        </div>
        <a href="{% url 'categorias' %}">
          <div class="link">
            <div class="overlap-group">
              <div class="rectngulo-45 rectngulo"></div>
              <div class="rectngulo-40 rectngulo"></div>
              <div class="componente-1-11">
                <div class="textos-principales"><h1 class="categoras">Categorías</h1></div>
              </div>
              <p class="conoce-la-clasificac montserrat-normal-log-cabin-18px">
                Conoce la clasificación general de los residuos
              </p>
              <div class="caneca-by-n-cono-pequeo"></div>
              <div class="reading-open-book"></div>
            </div></div></a
        >
        <a href="{% url 'escaneo' %}">
          <div class="link">
            <div class="overlap-group">
              <div class="rectngulo-45-1"></div>
              <div class="rectngulo-40 rectngulo"></div>
              <div class="componente-1-11">
                <div class="textos-principales"><div class="escner">Escáner</div></div>
              </div>
              <p class="descubre-en-dnde-de montserrat-normal-log-cabin-18px">
                Descubre en dónde debes depositar tu residuo
              </p>
              <img class="enmascarar-grupo-5" src="{% static 'sasvar_app/img/enmascarar-grupo-5@1x.png' %}" alt="Enmascarar grupo 5" />
              <div class="cono-escaneo"></div>
            </div></div
        ></a>
        <div class="barra-men">
          <a href="{% url 'categorias' %}">
          <div class="reading-open-book-1"></div></a
          >
          <a href="{% url 'escaneo' %}">
            <div class="botn-de-escaneo">
              <div class="overlap-group-2">
                <div class="cono-escaneo-1"></div>
              </div></div
          ></a>
          <div class="web-page-home"></div>
        </div>
      </div>
    </div>
  </body>
</html>
